@{
    ViewBag.Heading = "Career";
    ViewBag.CurrentMenu = "car";

    string delTitle = "";
    string delMsg = "";
    string delClass = "";
    if (TempData["delStatus"] != null)
    {
        if (Convert.ToBoolean(TempData["delStatus"]) == true)
        {
            delTitle = "Success";
            delMsg = "Record Deleted Successfully";
            delClass = "success";
        }
        else
        {
            delTitle = "Error";
            delMsg = "Can't Delete Record";
            delClass = "danger";
        }
    }
}

<div class="page-header">
    <h1>
        Career
    </h1>
</div><!-- /.page-header -->
@if (TempData["delStatus"] != null)
{
    <div class="alert alert-@delClass" id="divDel">
        <strong>
            <i class="ace-icon fa fa-times"></i>
            @delTitle!
        </strong>
        @delMsg
    </div>
}
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <div class="table-header">
                    <div class="row">
                        <div class="col-xs-8">
                            <span id="head">Result For "Career List"</span>
                            @using (Html.BeginForm("Go", "Career", FormMethod.Post, new { id = "frmStatus", name = "frmStatus" }))
                            {
                                <input type="hidden" name="skip" id="skip" />
                                <input type="hidden" name="sortColumn" id="sortColumn" />
                                <input type="hidden" name="sortDir" id="sortDir" />
                                <input type="hidden" name="pgSize" id="pgSize" />
                                <input type="hidden" name="chkIds" id="chkIds" />
                                <div id="divStatus" class="row">
                                    <div class="col-sm-3">
                                        <select name="Status" id="Status" class="mymargin form-control input-sm">
                                            <option value="">Change Status</option>
                                            <option value="true">Open</option>
                                            <option value="false">Closed</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="submit" value="Go" id="btnGo" class="btn btn-info btn-sm" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="Status" generated="true" class="field-validation-error"></label>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-xs-4">
                            <div class="pull-right">
                                <a class="btn icon-btn btn-danger" href="@Url.Action("Create")"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>New Career</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div>
                    <table id="tbl" class="table table-striped table-bordered table-hover">
                        <thead>
                            @*<tr>
                                <th><input type="checkbox" id="SelectAll" /> </th>
                                <th>Position</th>
                                <th>Experience</th>
                                <th>Requirements</th>
                                <th>Description</th>
                                <th>City</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>*@


                            <tr>
                                <th><input type="checkbox" id="SelectAll" /> </th>
                                <th>Date</th>
                                <th>Position</th>
                                <th>Department</th>
                                <th>Experience</th>
                                <th>Qualification</th>
                                <th>City</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>

                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- <![endif]-->
<!--[if IE]>
<![endif]-->
<!-- inline scripts related to this page -->
@section LoadDataTable{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/assets/js/UserAdmin.js"></script>
    <script>
        $(document).ready(function () {
            var oTable=$('#tbl').DataTable({
                "pageLength":@(TempData.Peek("PageSize")!=null?TempData.Peek("PageSize"):5),
                "lengthMenu": [5, 10, 15, 20],
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                rowReorder: {
                    selector: 'td:nth-child(1)'
                },
                "responsive": true,
                "ajax": {
                    "url": "@Url.Action("LoadData")",
                    "type": "post",
                    "dataType": "json"
                },
                "columnDefs": [
                    {
                        "width": "1%", "targets": 0, 'searchable': false, 'orderable': false, 'className': 'flat',
                        'render': function (data, type, full, meta) {
                            return '<input type="checkbox" name="Ids" id="Ids" value="' + data + '"/>';
                        },
                    },
                     { "width": "12%", "targets": 1 },
                     { "width": "11%", "targets": 2 },
                     { "width": "14%", "targets": 3 },
                     { "width": "15%", "targets": 4 },
                     { "width": "8%", "targets": 5 },
                     { "width": "8%", "targets": 6 },
                     { "width": "9%", "targets": 7 },

                     { "width": "9%", "targets": 8 },
                     { "width": "13%", "targets": 9 }
                ],
                "columns": [
                    { "data": "JobTitleId", "name": "JobTitleId", 'orderable': false},
                     { "data": "CreatedDisplayDt", "name": "CreatedDt"},
                    { "data": "Position", "name": "Position" },
                     {"data": "Department", "name": "Department", 'orderable': false},
                    { "data": "Experience", "name": "Experience", 'orderable': false },
                   
                    {"data": "Qualification", "name": "Qualification", 'orderable': false},
                    { "data": "City", "name": "City" },
                    { "data": "Location", "name": "Location" },
                   

                    {
                        "data": "Status", "name": "Status", 'orderable': false,
                        'render': function (data) {
                            if (data == true)
                                return '<span class="label label-sm label-success">Open</span>';
                            else
                                return '<span class="label label-sm label-warning">Closed</span>';
                        }
                    },
                    {
                        "data": "JobTitleId", 'orderable': false, "render": function (data) {
                            return '<a title="Edit" href="@Url.Action("Edit")/' + data + '" class="green"><i class="ace-icon fa fa-pencil bigger-130"></i></a>   <a title="Delete" href="@Url.Action("Delete")/' + data + '" class="red" onclick="return confirm(\'Are you Sure to Delete?\')"><i class="ace-icon fa fa-trash-o bigger-130"></i></a>'
                        }
                    }
                ],
                "order": [[1, 'asc']],
                initComplete: function () {
                    $('#tbl_filter input').unbind();
                    $('#tbl_filter input').bind('keyup', function (e) {
                        if (e.keyCode == 13 || !this.value) {
                            oTable.search(this.value).draw();
                        }
                    });
                }
            });
        });
    </script>
}